# Linker configuration for Compunet terminal code ($9FF0-$BE02)
# Downloaded during LINKING, loaded to RAM

MEMORY {
    TERMRAM: start = $9FF0, size = $1E13, type = ro, fill = yes, fillval = $00;
}

SEGMENTS {
    TERMINAL: load = TERMRAM, type = ro, start = $9FF0;
}
